<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/main/css/main.css">
    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="../../../static/css/user.css">
</head>
<body>
    
    <span class="main-background"></span>
    <div class="main">
        <div class="center">
            <form action="" class="">
                <div class="main-form-item">
                    <label class="main-form-label">用户名</label>
                    <div class="main-input-block">
                        <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="main-input">
                    </div>
                </div>
                <div class="main-form-item">
                    <label class="main-form-label">密码</label>
                    <div class="main-input-block">
                        <input type="password" name="pwd" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="main-input">
                    </div>
                </div>
                <div class="main-form-item">
                    <div class="main-input-block">
                    <button class="main-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="main-btn main-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>